 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {

 	.contact-mobile {
 		display: block;
 	}

 	.contact-mobile {
 		/*background-color: rgba(230, 167, 86, 0.9);*/
 		padding-bottom: 5%;
 		padding-left: 5%;
 		padding-right: 5%;
 	}

 	.contact-mobile .contact-container {
 		padding: 4px;
 		height: auto;
 		border-width: 4px;
 		border-color: rgba(255, 255, 255, 0.85);
 		border-style: solid;
 		box-sizing: border-box;
 		width: auto;
 		margin-left: auto;
 		margin-right: auto;
 		border-radius: 10px;
 		margin-bottom: 30px;
 		margin-top: 30px;
 	}

 	.contact-mobile .contact-container .contact-box {
 		height: auto;
 		padding: 5px;
 		text-align: center;
 		font-family: sans-serif;
 		box-sizing: border-box;
 		border-radius: 5px;
 		background:
 			linear-gradient(324deg, #232927 4%, transparent 4%) -70px 43px,
 			linear-gradient(36deg, #232927 4%, transparent 4%) 30px 43px,
 			linear-gradient(72deg, #e3d7bf 8.5%, transparent 8.5%) 30px 43px,
 			linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -70px 43px,
 			linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -70px 23px,
 			linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 30px 23px,

 			linear-gradient(324deg, #232927 4%, transparent 4%) -20px 93px,
 			linear-gradient(36deg, #232927 4%, transparent 4%) 80px 93px,
 			linear-gradient(72deg, #e3d7bf 8.5%, transparent 8.5%) 80px 93px,
 			linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -20px 93px,
 			linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -20px 73px,
 			linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 80px 73px;
 		background-color: #444F4C;
 		background-size: 100px 100px;
 	}

 	.contact-mobile .contact-container .content {
 		color: white;
 		text-shadow: 2px 2px #000000;
 		background-color: rgba(0, 0, 0, 0.5);
 		padding-top: 8px;
 		padding-bottom: 8px;
 	}

 	.contact-mobile .contact-container .content a {
 		color: white;
 	}

 	.contact-mobile .contact-container .contact-box.email {
 		font-size: 14px;
 	}

 	.contact-mobile .contact-container .contact-box.email a {
 		text-decoration: none;
 		transition: 0.3s ease-out;
 	}

 	.contact-mobile .contact-container .contact-box.email a:hover {
 		color: #588BAE;
 	}

 	.contact-mobile .contact-container .contact-box.links {
 		padding-top: 10px;
 		padding-bottom: 10px;
 	}

 	.contact-mobile .contact-container .contact-box.links a {
 		text-decoration: none;
 		font-size: 30px;
 		margin-left: 10px;
 		margin-right: 10px;
 		transition: 0.3s ease-out;
 	}

 	.contact-mobile .contact-container .contact-box.links a:hover {
 		color: #588BAE;
 	}

 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) and (max-width: 767px) {

 	.contact-mobile {
 		display: block;
 	}

 	.contact-mobile {
 		/*background-color: rgba(230, 167, 86, 0.9);*/
 		padding-bottom: 5%;
 		padding-left: 5%;
 		padding-right: 5%;
 	}

 	.contact-mobile .contact-container {
 		padding: 4px;
 		height: auto;
 		border-width: 4px;
 		border-color: rgba(255, 255, 255, 0.85);
 		border-style: solid;
 		box-sizing: border-box;
 		width: auto;
 		margin-left: auto;
 		margin-right: auto;
 		border-radius: 10px;
 		margin-bottom: 30px;
 		margin-top: 30px;
 	}

 	.contact-mobile .contact-container .contact-box {
 		height: auto;
 		padding: 5px;
 		text-align: center;
 		font-family: sans-serif;
 		box-sizing: border-box;
 		border-radius: 5px;
 		background:
 			linear-gradient(324deg, #232927 4%, transparent 4%) -70px 43px,
 			linear-gradient(36deg, #232927 4%, transparent 4%) 30px 43px,
 			linear-gradient(72deg, #e3d7bf 8.5%, transparent 8.5%) 30px 43px,
 			linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -70px 43px,
 			linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -70px 23px,
 			linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 30px 23px,

 			linear-gradient(324deg, #232927 4%, transparent 4%) -20px 93px,
 			linear-gradient(36deg, #232927 4%, transparent 4%) 80px 93px,
 			linear-gradient(72deg, #e3d7bf 8.5%, transparent 8.5%) 80px 93px,
 			linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -20px 93px,
 			linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -20px 73px,
 			linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 80px 73px;
 		background-color: #444F4C;
 		background-size: 100px 100px;
 	}

 	.contact-mobile .contact-container .content {
 		color: wheat;
 		background-color: rgba(0, 0, 0, 0.4);
 		padding-top: 8px;
 		padding-bottom: 8px;
 	}

 	.contact-mobile .contact-container .content a {
 		color: wheat;
 	}

 	.contact-mobile .contact-container .contact-box.email {
 		font-size: 14px;
 	}

 	.contact-mobile .contact-container .contact-box.email a {
 		text-decoration: none;
 	}

 	.contact-mobile .contact-container .contact-box.links {
 		padding-top: 10px;
 		padding-bottom: 10px;
 	}

 	.contact-mobile .contact-container .contact-box.links a {
 		text-decoration: none;
 		font-size: 30px;
 		margin-left: 10px;
 		margin-right: 10px;
 	}

 }

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) and (max-width: 991px) {

 	.contact-mobile {
 		display: block;
 	}

 	.contact-mobile {
 		/*background-color: rgba(230, 167, 86, 0.9);*/
 		padding-bottom: 5%;
 		padding-left: 5%;
 		padding-right: 5%;
 	}

 	.contact-mobile .contact-container {
 		padding: 4px;
 		height: auto;
 		border-width: 4px;
 		border-color: rgba(255, 255, 255, 0.85);
 		border-style: solid;
 		box-sizing: border-box;
 		width: auto;
 		margin-left: auto;
 		margin-right: auto;
 		border-radius: 10px;
 		margin-bottom: 30px;
 		margin-top: 30px;
 	}

 	.contact-mobile .contact-container .contact-box {
 		height: auto;
 		padding: 5px;
 		text-align: center;
 		font-family: sans-serif;
 		box-sizing: border-box;
 		border-radius: 5px;
 		background:
 			linear-gradient(324deg, #232927 4%, transparent 4%) -70px 43px,
 			linear-gradient(36deg, #232927 4%, transparent 4%) 30px 43px,
 			linear-gradient(72deg, #e3d7bf 8.5%, transparent 8.5%) 30px 43px,
 			linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -70px 43px,
 			linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -70px 23px,
 			linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 30px 23px,

 			linear-gradient(324deg, #232927 4%, transparent 4%) -20px 93px,
 			linear-gradient(36deg, #232927 4%, transparent 4%) 80px 93px,
 			linear-gradient(72deg, #e3d7bf 8.5%, transparent 8.5%) 80px 93px,
 			linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -20px 93px,
 			linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -20px 73px,
 			linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 80px 73px;
 		background-color: #444F4C;
 		background-size: 100px 100px;
 	}

 	.contact-mobile .contact-container .content {
 		color: white;
 		text-shadow: 2px 2px #000000;
 		background-color: rgba(0, 0, 0, 0.5);
 		padding-top: 8px;
 		padding-bottom: 8px;
 	}

 	.contact-mobile .contact-container .content a {
 		color: white;
 	}

 	.contact-mobile .contact-container .contact-box.email {
 		font-size: 14px;
 	}

 	.contact-mobile .contact-container .contact-box.email a {
 		text-decoration: none;
 		transition: 0.3s ease-out;
 	}

 	.contact-mobile .contact-container .contact-box.email a:hover {
 		color: #588BAE;
 	}

 	.contact-mobile .contact-container .contact-box.links {
 		padding-top: 10px;
 		padding-bottom: 10px;
 	}

 	.contact-mobile .contact-container .contact-box.links a {
 		text-decoration: none;
 		font-size: 30px;
 		margin-left: 10px;
 		margin-right: 10px;
 		transition: 0.3s ease-out;
 	}

 	.contact-mobile .contact-container .contact-box.links a:hover {
 		color: #588BAE;
 	}

 	.introduction .tv-buttons .item7.mobile {
 		display: block;
 	}


 }

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) and (max-width: 1199px) {

 	.contact-mobile {
 		display: none;
 	}

 	.introduction .tv-buttons .item7.mobile {
 		display: none;
 	}

 }

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

 	.contact-mobile {
 		display: none;
 	}

 	.introduction .tv-buttons .item7.mobile {
 		display: none;
 	}

 }
