@keyframes action {
	10% {
		color: rgb(64, 93, 230);
		letter-spacing: 1px;
	}

	20% {
		color: rgb(88, 81, 219);
		letter-spacing: 2px;
	}

	30% {
		color: rgb(131, 58, 180);
		letter-spacing: 1px;
	}

	40% {
		color: rgb(193, 53, 132);
		letter-spacing: 0px;
	}

	50% {
		color: rgb(225, 48, 108);
		letter-spacing: 1px;
	}

	60% {
		color: rgb(253, 29, 29);
		letter-spacing: 2px;
	}

	70% {
		color: rgb(245, 96, 64);
		letter-spacing: 1px;
	}

	80% {
		color: rgb(247, 119, 55);
		letter-spacing: 0px;
	}

	90% {
		color: rgb(252, 175, 69);
		letter-spacing: 1px;
	}

	95% {
		color: rgb(255, 220, 128);
		letter-spacing: 2px;
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	.arrow-top {
		display: none;
	}

	.quick-access-panel-social {
		display: none;
	}

	.quick-access-panel-hireme {
		display: none;
	}

	.quick-access-panel-resume {
		display: none;
	}

	.quick-access .back-to-top {
		display: block;
		position: fixed;

	}

	.quick-access .back-to-top {
		background-color: #fff8ed;
		background: linear-gradient(to bottom,
				rgba(204, 205, 191, 1) 0%,
				rgba(226, 222, 210, 1) 20%,
				rgba(226, 222, 210, 1) 67%,
				rgba(204, 205, 191, 1) 100%);
		position: fixed;
		display: block;
		z-index: 99;
		bottom: 0px;
		width: 100%;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
		height: auto;
		border-top: 2px solid rgba(0, 0, 0, 0.85);
	}

	.quick-access .back-to-top a {
		text-decoration: none;
		color: black;
		font-size: 20px;
		font-weight: 900;
		font-family: sans-serif;
	}

	.quick-access .back-to-top a:hover {
		animation-name: action;
		animation-timing-function: linear;
		animation-duration: 1s;
		animation-iteration-count: infinite;
	}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
	
	.arrow-top {
		display: none;
	}

	.quick-access-panel-social {
		display: none;
	}

	.quick-access-panel-hireme {
		display: none;
	}

	.quick-access-panel-resume {
		display: none;
	}

	.quick-access .back-to-top {
		display: block;
		position: fixed;

	}

	.quick-access .back-to-top {
		background-color: #fff8ed;
		background: linear-gradient(to bottom,
				rgba(204, 205, 191, 1) 0%,
				rgba(226, 222, 210, 1) 20%,
				rgba(226, 222, 210, 1) 67%,
				rgba(204, 205, 191, 1) 100%);
		position: fixed;
		display: block;
		z-index: 99;
		bottom: 0px;
		width: 100%;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
		height: auto;
		border-top: 2px solid rgba(0, 0, 0, 0.85);
	}

	.quick-access .back-to-top a {
		text-decoration: none;
		color: black;
		font-size: 20px;
		font-weight: 900;
		font-family: sans-serif;
	}

	.quick-access .back-to-top a:hover {
		animation-name: action;
		animation-timing-function: linear;
		animation-duration: 1s;
		animation-iteration-count: infinite;
	}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

	.arrow-top {
		font-size: 50px;
		position: fixed;
		top: 20px;
		left: 20px;
		text-decoration: none;
		transition: 400ms ease-in-out;
		z-index: 50;
	}

	.arrow-top i {
		color: #fff8ed;
	}

	.arrow-top:hover {
		transform: rotate(360deg) scale(1.5);
	}

	.arrow-top:visited {
		color: #fff8ed;
	}

	.quick-access-panel-hireme {
		display: block;
		position: fixed;
		right: -35px;
		background-color: #fff8ed;
		background: linear-gradient(to bottom,
				rgba(204, 205, 191, 1) 0%,
				rgba(226, 222, 210, 1) 20%,
				rgba(226, 222, 210, 1) 67%,
				rgba(204, 205, 191, 1) 100%);
		width: 70px;
		height: 250px;
		border-bottom-left-radius: 10px;
		border-top-left-radius: 10px;
		transition: 300ms ease-in-out;
		font-family: Impact, "Oswald", sans-serif;
		padding-left: 10px;
		padding-top: 25px;
		box-sizing: border-box;
		top: 400px;
		z-index: 2;
	}

	.quick-access-panel-resume {
		display: block;
		position: fixed;
		right: -35px;
		background-color: #fff8ed;
		background: linear-gradient(to bottom,
				rgba(204, 205, 191, 1) 0%,
				rgba(226, 222, 210, 1) 20%,
				rgba(226, 222, 210, 1) 67%,
				rgba(204, 205, 191, 1) 100%);
		width: 70px;
		height: 250px;
		border-bottom-left-radius: 10px;
		border-top-left-radius: 10px;
		transition: 300ms ease-in-out;
		font-family: Impact, "Oswald", sans-serif;
		padding-left: 10px;
		padding-top: 25px;
		box-sizing: border-box;
		top: 60px;
		z-index: 2;
	}

	.quick-access-panel-resume h1 {
		position: absolute;
		writing-mode: vertical-rl;
		right: 18px;
		top: 60px;
		font-size: 25px;
		color: #333;
		filter: opacity(100%);
		transition: 300ms ease-in-out;
		letter-spacing: 2px;
	}

	.quick-access-panel-hireme h1 {
		position: absolute;
		writing-mode: vertical-rl;
		right: 18px;
		top: 70px;
		font-size: 25px;
		color: #333;
		filter: opacity(100%);
		transition: 300ms ease-in-out;
		letter-spacing: 1px;
	}

	.quick-access-panel-resume:hover h1,
	.quick-access-panel-hireme:hover h1 {
		filter: opacity(0%);
	}

	.quick-access-panel-resume:hover,
	.quick-access-panel-hireme:hover {
		right: 0px;
	}

	.quick-access-panel-resume a,
	.quick-access-panel-hireme a {
		transition: 300ms ease-in-out;
		font-size: 40px;
		text-decoration: none;
		color: #333;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		filter: opacity(0%);
		letter-spacing: 1px;
	}

	.quick-access-panel-resume:hover a,
	.quick-access-panel-hireme:hover a {
		filter: opacity(100%);
	}

	.quick-access-panel-social {
		display: block;
		position: fixed;
		width: 70px;
		height: 500px;
		z-index: 2;
		background-color: #fff8ed;
		background: linear-gradient(to bottom,
				rgba(204, 205, 191, 1) 0%,
				rgba(226, 222, 210, 1) 20%,
				rgba(226, 222, 210, 1) 67%,
				rgba(204, 205, 191, 1) 100%);
		margin-left: -40px;
		top: 100px;
		transition: 300ms ease-in-out;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		text-align: center;
		box-sizing: border-box;
	}

	.quick-access-panel-social h1 {
		position: absolute;
		writing-mode: vertical-rl;
		left: 18px;
		top: 200px;
		font-size: 25px;
		color: #333;
		filter: opacity(100%);
		transition: 300ms ease-in-out;
		letter-spacing: 1px;
		transform: rotate(180deg);
	}

	.quick-access-panel-social:hover h1 {
		filter: opacity(0%);
	}

	.quick-access-panel-social i {
		display: block;
		font-size: 50px;
		margin-top: 40px;
		margin-bottom: 40px;
		margin-left: auto;
		margin-right: auto;
		padding-right: 5px;
		transition: 300ms ease-in-out;
	}

	.quick-access-panel-social:hover {
		margin-left: 0px;
		color: black;
	}

	.quick-access-panel-social i {
		filter: opacity(0%);
	}

	.quick-access-panel-social:hover i {
		filter: opacity(100%);
	}

	.quick-access-panel-social #instagram:hover {
		animation-name: insta;
		animation-timing-function: linear;
		animation-duration: 1s;
		animation-iteration-count: infinite;
	}

	.quick-access-panel-social #github:hover {
		color: green;
	}

	.quick-access-panel-social #linkedin:hover {
		color: rgb(40, 103, 178);
	}

	.quick-access-panel-social #facebook:hover {
		color: rgb(66, 103, 178);
	}

	@keyframes insta {
		10% {
			color: rgb(64, 93, 230);
		}

		20% {
			color: rgb(88, 81, 219);
		}

		30% {
			color: rgb(131, 58, 180);
		}

		40% {
			color: rgb(193, 53, 132);
		}

		50% {
			color: rgb(225, 48, 108);
		}

		60% {
			color: rgb(253, 29, 29);
		}

		70% {
			color: rgb(245, 96, 64);
		}

		80% {
			color: rgb(247, 119, 55);
		}

		90% {
			color: rgb(252, 175, 69);
		}

		95% {
			color: rgb(255, 220, 128);
		}
	}

	.quick-access .back-to-top {
		display: none;
	}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

	.arrow-top {
		font-size: 50px;
		position: fixed;
		top: 20px;
		left: 20px;
		text-decoration: none;
		transition: 400ms ease-in-out;
		z-index: 50;
	}

	.arrow-top i {
		color: #fff8ed;
	}

	.arrow-top:hover {
		transform: rotate(360deg) scale(1.5);
	}

	.arrow-top:visited {
		color: #fff8ed;
	}

	.quick-access-panel-hireme {
		display: block;
		position: fixed;
		right: -35px;
		background-color: #fff8ed;
		background: linear-gradient(to bottom,
				rgba(204, 205, 191, 1) 0%,
				rgba(226, 222, 210, 1) 20%,
				rgba(226, 222, 210, 1) 67%,
				rgba(204, 205, 191, 1) 100%);
		width: 70px;
		height: 250px;
		border-bottom-left-radius: 10px;
		border-top-left-radius: 10px;
		transition: 300ms ease-in-out;
		font-family: Impact, "Oswald", sans-serif;
		padding-left: 10px;
		padding-top: 25px;
		box-sizing: border-box;
		top: 400px;
		z-index: 2;
	}

	.quick-access-panel-resume {
		display: block;
		position: fixed;
		right: -35px;
		background-color: #fff8ed;
		background: linear-gradient(to bottom,
				rgba(204, 205, 191, 1) 0%,
				rgba(226, 222, 210, 1) 20%,
				rgba(226, 222, 210, 1) 67%,
				rgba(204, 205, 191, 1) 100%);
		width: 70px;
		height: 250px;
		border-bottom-left-radius: 10px;
		border-top-left-radius: 10px;
		transition: 300ms ease-in-out;
		font-family: Impact, "Oswald", sans-serif;
		padding-left: 10px;
		padding-top: 25px;
		box-sizing: border-box;
		top: 60px;
		z-index: 2;
	}

	.quick-access-panel-resume h1 {
		position: absolute;
		writing-mode: vertical-rl;
		right: 18px;
		top: 60px;
		font-size: 25px;
		color: #333;
		filter: opacity(100%);
		transition: 300ms ease-in-out;
		letter-spacing: 2px;
	}

	.quick-access-panel-hireme h1 {
		position: absolute;
		writing-mode: vertical-rl;
		right: 18px;
		top: 70px;
		font-size: 25px;
		color: #333;
		filter: opacity(100%);
		transition: 300ms ease-in-out;
		letter-spacing: 1px;
	}

	.quick-access-panel-resume:hover h1,
	.quick-access-panel-hireme:hover h1 {
		filter: opacity(0%);
	}

	.quick-access-panel-resume:hover,
	.quick-access-panel-hireme:hover {
		right: 0px;
	}

	.quick-access-panel-resume a,
	.quick-access-panel-hireme a {
		transition: 300ms ease-in-out;
		font-size: 40px;
		text-decoration: none;
		color: #333;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		filter: opacity(0%);
		letter-spacing: 1px;
	}

	.quick-access-panel-resume:hover a,
	.quick-access-panel-hireme:hover a {
		filter: opacity(100%);
	}

	.quick-access-panel-social {
		display: block;
		position: fixed;
		width: 70px;
		height: 500px;
		z-index: 2;
		background-color: #fff8ed;
		background: linear-gradient(to bottom,
				rgba(204, 205, 191, 1) 0%,
				rgba(226, 222, 210, 1) 20%,
				rgba(226, 222, 210, 1) 67%,
				rgba(204, 205, 191, 1) 100%);
		margin-left: -40px;
		top: 100px;
		transition: 300ms ease-in-out;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		text-align: center;
		box-sizing: border-box;
	}

	.quick-access-panel-social h1 {
		position: absolute;
		writing-mode: vertical-rl;
		left: 18px;
		top: 200px;
		font-size: 25px;
		color: #333;
		filter: opacity(100%);
		transition: 300ms ease-in-out;
		letter-spacing: 1px;
		transform: rotate(180deg);
	}

	.quick-access-panel-social:hover h1 {
		filter: opacity(0%);
	}

	.quick-access-panel-social i {
		display: block;
		font-size: 50px;
		margin-top: 40px;
		margin-bottom: 40px;
		margin-left: auto;
		margin-right: auto;
		padding-right: 5px;
		transition: 300ms ease-in-out;
	}

	.quick-access-panel-social:hover {
		margin-left: 0px;
		color: black;
	}

	.quick-access-panel-social i {
		filter: opacity(0%);
	}

	.quick-access-panel-social:hover i {
		filter: opacity(100%);
	}

	.quick-access-panel-social #instagram:hover {
		animation-name: insta;
		animation-timing-function: linear;
		animation-duration: 1s;
		animation-iteration-count: infinite;
	}

	.quick-access-panel-social #github:hover {
		color: green;
	}

	.quick-access-panel-social #linkedin:hover {
		color: rgb(40, 103, 178);
	}

	.quick-access-panel-social #facebook:hover {
		color: rgb(66, 103, 178);
	}

	@keyframes insta {
		10% {
			color: rgb(64, 93, 230);
		}

		20% {
			color: rgb(88, 81, 219);
		}

		30% {
			color: rgb(131, 58, 180);
		}

		40% {
			color: rgb(193, 53, 132);
		}

		50% {
			color: rgb(225, 48, 108);
		}

		60% {
			color: rgb(253, 29, 29);
		}

		70% {
			color: rgb(245, 96, 64);
		}

		80% {
			color: rgb(247, 119, 55);
		}

		90% {
			color: rgb(252, 175, 69);
		}

		95% {
			color: rgb(255, 220, 128);
		}
	}

	.quick-access .back-to-top {
		display: none;
	}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

	.arrow-top {
		font-size: 50px;
		position: fixed;
		top: 20px;
		left: 20px;
		text-decoration: none;
		transition: 400ms ease-in-out;
		z-index: 50;
	}

	.arrow-top i {
		color: #fff8ed;
	}

	.arrow-top:hover {
		transform: rotate(360deg) scale(1.5);
	}

	.arrow-top:visited {
		color: #fff8ed;
	}

	.quick-access-panel-hireme {
		display: block;
		position: fixed;
		right: -35px;
		background-color: #fff8ed;
		background: linear-gradient(to bottom,
				rgba(204, 205, 191, 1) 0%,
				rgba(226, 222, 210, 1) 20%,
				rgba(226, 222, 210, 1) 67%,
				rgba(204, 205, 191, 1) 100%);
		width: 70px;
		height: 250px;
		border-bottom-left-radius: 10px;
		border-top-left-radius: 10px;
		transition: 300ms ease-in-out;
		font-family: Impact, "Oswald", sans-serif;
		padding-left: 10px;
		padding-top: 25px;
		box-sizing: border-box;
		top: 400px;
		z-index: 2;
	}

	.quick-access-panel-resume {
		display: block;
		position: fixed;
		right: -35px;
		background-color: #fff8ed;
		background: linear-gradient(to bottom,
				rgba(204, 205, 191, 1) 0%,
				rgba(226, 222, 210, 1) 20%,
				rgba(226, 222, 210, 1) 67%,
				rgba(204, 205, 191, 1) 100%);
		width: 70px;
		height: 250px;
		border-bottom-left-radius: 10px;
		border-top-left-radius: 10px;
		transition: 300ms ease-in-out;
		font-family: Impact, "Oswald", sans-serif;
		padding-left: 10px;
		padding-top: 25px;
		box-sizing: border-box;
		top: 60px;
		z-index: 2;
	}

	.quick-access-panel-resume h1 {
		position: absolute;
		writing-mode: vertical-rl;
		right: 18px;
		top: 60px;
		font-size: 25px;
		color: #333;
		filter: opacity(100%);
		transition: 300ms ease-in-out;
		letter-spacing: 2px;
	}

	.quick-access-panel-hireme h1 {
		position: absolute;
		writing-mode: vertical-rl;
		right: 18px;
		top: 70px;
		font-size: 25px;
		color: #333;
		filter: opacity(100%);
		transition: 300ms ease-in-out;
		letter-spacing: 1px;
	}

	.quick-access-panel-resume:hover h1,
	.quick-access-panel-hireme:hover h1 {
		filter: opacity(0%);
	}

	.quick-access-panel-resume:hover,
	.quick-access-panel-hireme:hover {
		right: 0px;
	}

	.quick-access-panel-resume a,
	.quick-access-panel-hireme a {
		transition: 300ms ease-in-out;
		font-size: 40px;
		text-decoration: none;
		color: #333;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		filter: opacity(0%);
		letter-spacing: 1px;
	}

	.quick-access-panel-resume:hover a,
	.quick-access-panel-hireme:hover a {
		filter: opacity(100%);
	}

	.quick-access-panel-social {
		display: block;
		position: fixed;
		width: 70px;
		height: 500px;
		z-index: 2;
		background-color: #fff8ed;
		background: linear-gradient(to bottom,
				rgba(204, 205, 191, 1) 0%,
				rgba(226, 222, 210, 1) 20%,
				rgba(226, 222, 210, 1) 67%,
				rgba(204, 205, 191, 1) 100%);
		margin-left: -40px;
		top: 100px;
		transition: 300ms ease-in-out;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		text-align: center;
		box-sizing: border-box;
	}

	.quick-access-panel-social h1 {
		position: absolute;
		writing-mode: vertical-rl;
		left: 18px;
		top: 200px;
		font-size: 25px;
		color: #333;
		filter: opacity(100%);
		transition: 300ms ease-in-out;
		letter-spacing: 1px;
		transform: rotate(180deg);
	}

	.quick-access-panel-social:hover h1 {
		filter: opacity(0%);
	}

	.quick-access-panel-social i {
		display: block;
		font-size: 50px;
		margin-top: 40px;
		margin-bottom: 40px;
		margin-left: auto;
		margin-right: auto;
		padding-right: 5px;
		transition: 300ms ease-in-out;
	}

	.quick-access-panel-social:hover {
		margin-left: 0px;
		color: black;
	}

	.quick-access-panel-social i {
		filter: opacity(0%);
	}

	.quick-access-panel-social:hover i {
		filter: opacity(100%);
	}

	.quick-access-panel-social #instagram:hover {
		animation-name: insta;
		animation-timing-function: linear;
		animation-duration: 1s;
		animation-iteration-count: infinite;
	}

	.quick-access-panel-social #github:hover {
		color: green;
	}

	.quick-access-panel-social #linkedin:hover {
		color: rgb(40, 103, 178);
	}

	.quick-access-panel-social #facebook:hover {
		color: rgb(66, 103, 178);
	}

	.quick-access .back-to-top {
		display: none;
	}

}
