.skills {
    width: 95%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 380px 380px 380px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

#skills-header {
    margin-bottom: 50px;
}

.skills .skill-item {
    border: 2px solid rgba(0,0,0,0.6);
    position: relative;
    padding-top: 20px;
}

.skills .skill-item img {
    height: 200px;
    width: 200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: 200ms ease-in-out;
    filter: grayscale(100%);
}

.skills .skill-item img:hover {
    transform: scale(1.1) translateX(-45%);
    filter: grayscale(0%);
}

.part-header {
    text-transform: uppercase;
    font-weight: 900;
    font-family: Impact, "Oswald", sans-serif;
    font-size: 90px;
    letter-spacing: 2px;
    line-height: 0.85;
    color: #333;
    position: relative;
    left: 33%;
}

.skills .skill-item .content {
    text-align: center;
}

.skills .skill-item .content h1 {
    font-size: 20px;
    color: #af3f50;
    font-weight: 900;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
    font-family: sans-serif;
    line-height: 20px;
}

.skills .skill-item .content h3 {
    font-size: 30px;
    margin: 10px;
    font-family: Impact, "Oswald", sans-serif;
}

#git {
    top: 50px;
}